https://docs.python.org/3/library/re.html

In [2]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/sunnysavita10/Naive-Bayes/main/SpamClassifier-with-ML/sms_spam_data/SMSSpamCollection.csv",sep="\t",header=None,names=["labels","messages"])

In [ ]:
text classification
text genrataion
text summrization
quesiton anwer
spot keyword
fill blanks
topic modeling
text smilirty

In [3]:
df

     labels                                           messages
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567   spam  This is the 2nd time we have tried 2 contact u...
5568    ham               Will ü b going to esplanade fr home?
5569    ham  Pity, * was in mood for that. So...any other s...
5570    ham  The guy did some bitching but I acted like i'd...
5571    ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [4]:
df.head()

  labels                                           messages
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
df["messages"][0]

'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'

In [6]:
df["messages"][1]

'Ok lar... Joking wif u oni...'

In [7]:
df["messages"][2]

"Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"

In [10]:
pip install nltk

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Collecting nltk
  Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 849.6 kB/s eta 0:00:00
Requirement already satisfied: click in c:\users\monish khan\appdata\roaming\python\python311\site-packages (from nltk) (8.1.3)
Requirement already satisfied: joblib in c:\users\monish khan\appdata\roaming\python\python311\site-packages (from nltk) (1.2.0)
Collecting regex>=2021.8.3
  Downloading regex-2023.6.3-cp311-cp311-win_amd64.whl (268 kB)
     ------------------------------------ 268.0/268.0 kB 749.4 kB/s eta 0:00:00
Collecting tqdm
  Downloading tqdm-4.65.0-py3-none-any.whl (77 kB)
     -------------------------------------- 77.1/77.1 kB 711.2 kB/s eta 0:00:00
Requirement already satisfied: colorama in c:\users\monish khan\appdata\roaming\python\python311\site-packages (from click->nltk) (0.4.6)
Installing collected packages: tqdm, regex, nltk
Successfully installed nltk-3.8.1 regex-2023.6.3 tqdm-4.65.0

  WARNING: The script tqdm.exe is installed in 'C:\Users\Monish Khan\AppData\Roaming\Python\Python311\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script nltk.exe is installed in 'C:\Users\Monish Khan\AppData\Roaming\Python\Python311\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to C:\Users\Monish
[nltk_data]     Khan\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [12]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [13]:
df["messages"][0]

'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'

# Regular expressions are a sequence of characters that define a search pattern. They can be used to search, match, and manipulate text strings based on specific patterns. The re module allows you to perform various operations using regular expressions, such as pattern matching, substitution, and splitting strings.

In [15]:
re.sub('[^a-zA-Z]',' ',df["messages"][0])

'Go until jurong point  crazy   Available only in bugis n great world la e buffet    Cine there got amore wat   '

In [16]:
re.sub('[^a-zA-Z]',' ',df["messages"][0]).lower()

'go until jurong point  crazy   available only in bugis n great world la e buffet    cine there got amore wat   '

In [17]:
words=re.sub('[^a-zA-Z]',' ',df["messages"][0]).lower().split()

In [18]:
words

['go',
 'until',
 'jurong',
 'point',
 'crazy',
 'available',
 'only',
 'in',
 'bugis',
 'n',
 'great',
 'world',
 'la',
 'e',
 'buffet',
 'cine',
 'there',
 'got',
 'amore',
 'wat']

In [19]:
[word for word in words if word not in stopwords.words("english")]

['go',
 'jurong',
 'point',
 'crazy',
 'available',
 'bugis',
 'n',
 'great',
 'world',
 'la',
 'e',
 'buffet',
 'cine',
 'got',
 'amore',
 'wat']

In [20]:
ps=PorterStemmer()

In [21]:
ps=PorterStemmer()
[ps.stem(word) for word in words if word not in stopwords.words("english")]

['go',
 'jurong',
 'point',
 'crazi',
 'avail',
 'bugi',
 'n',
 'great',
 'world',
 'la',
 'e',
 'buffet',
 'cine',
 'got',
 'amor',
 'wat']

In [22]:
" ".join([ps.stem(word) for word in words if word not in stopwords.words("english")])

'go jurong point crazi avail bugi n great world la e buffet cine got amor wat'

'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat.

In [23]:
string="hello, world"
pattern=r"hello"

result=re.search(pattern,string)

In [24]:
result

In [25]:
if result:
    print("pattern found")
else:
    print("pattern not found")

pattern found

In [26]:
string="hello, world"
pattern=r"sunny"

result=re.search(pattern,string)

In [27]:
result

In [28]:
if result:
    print("pattern found")
else:
    print("pattern not found")

pattern not found

In [29]:
string="hello,world"
pattern=r"world"
replacement="python"

re.sub(pattern,replacement,string)

'hello,python'

In [ ]:
email validation
URL extraction

"visit my website sunnysavita.com"

phone number extraction

password validation

In [32]:
corpus=[]
for i in range(0,len(df)):
    review=re.sub('[^a-zA-Z]'," ",df["messages"][i])
    review=review.lower()
    review=review.split()
    review=[ps.stem(word) for word in review if word not in stopwords.words("english")]
    review=" ".join(review)
    corpus.append(review)

In [33]:
df['messages'][40]

'Pls go ahead with watts. I just wanted to be sure. Do have a great weekend. Abiola'

In [34]:
corpus[40]

'pl go ahead watt want sure great weekend abiola'

In [35]:
from sklearn.feature_extraction.text import CountVectorizer

In [37]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=2500)
X=cv.fit_transform(corpus).toarray()
y=pd.get_dummies(df['labels'],drop_first=True)

In [39]:
X=cv.fit_transform(corpus).toarray()

In [40]:
X

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [41]:
X.shape

(5572, 2500)

In [43]:
df.shape

(5572, 2)

In [44]:
df.labels

0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: labels, Length: 5572, dtype: object

In [46]:
y=pd.get_dummies(df['labels'],drop_first=True)

In [47]:
y

      spam
0        0
1        0
2        1
3        0
4        0
...    ...
5567     1
5568     0
5569     0
5570     0
5571     0

[5572 rows x 1 columns]

In [48]:
from sklearn.model_selection import train_test_split

In [49]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=10)

In [51]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
model=MultinomialNB()
model.fit(X_train,y_train)
print(model.score(X_train,y_train))
y_pred=model.predict(X_test)
print(accuracy_score(y_test,y_pred))

C:\Users\Monish Khan\AppData\Roaming\Python\Python311\site-packages\sklearn\utils\validation.py:1141: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.9899497487437185
0.9770279971284996

In [52]:
df["messages"][0]

'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'

In [53]:
df="Thanks gaurav for the update. This provides clear visibility for the next release."

In [54]:
df

'Thanks gaurav for the update. This provides clear visibility for the next release.'

In [55]:
review=re.sub('[^a-zA-Z]'," ",df)
review=review.lower()
review=review.split()
review=[ps.stem(word) for word in review if word not in stopwords.words("english")]
review=" ".join(review)

In [56]:
corpus=[]
corpus.append(review)

In [57]:
corpus

['thank gaurav updat provid clear visibl next releas']

In [58]:
tfdata=cv.transform(corpus).toarray()

In [59]:
model.predict(tfdata)[0]

1

In [ ]:
word_tokenizer
word lemetizer
tfidf
gauusian naive bayes